@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000031;
}

#lyrics_container{
    color: #000031;
    background-color: white;
    font-size: 24px;
}
::placeholder{
    color: black;
}