@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000031;
}

#lyrics_container{
    color: #000031;
    background-color: white;
    font-size: 24px;
    width: 70%;
    border: 1px solid rgb(149, 78, 78);
    text-align: center;
    margin: auto;
    border-radius: 10px;
}
